<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
.main-body {
  background-image: url(https://i.imgur.com/atdbjCR.jpg);
  font-family: 'Poppins', sans-serif;
}

.div-body {
  margin: auto;
  width: 100%;
  min-width: 1000px;
  background-color: none;
}

.div-body-margin{
  height: 10px;
  width: 100%;
  background: none;
  border-bottom: 5px black;
}

.blog-body-margin {
  background: none;
  margin-bottom: 30px;
}

/* NAVIGATION BAR */
img{
  height: 40px;
  width: 100px;
  padding-right: 15px;
}

.div-nav-bar {
  padding: 10px;
  color: black;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  
}

.dropdown a {
  text-decoration: none;
}

.div-nav-bar-left {
  float: left;
  padding: 5px;
  padding-bottom: 5px;
}

.div-nav-bar-right {
  float: right;
  padding-bottom: 5px;
  border:2px solid black;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 100px;
  margin: 0px 10px;
}

.dropbtn {
  border: none;
  background: none;
  width: 100%;
  color: black;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: large;
  padding-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #A0A603;
}

.nav-bar-btn {
  text-decoration: none;
  border: none;
  background: none;
  color: black;
  min-width: 100px;
  margin: 0px 10px;
  font-size: large;
  padding-bottom: 5px;
  padding-top: 15px;
  padding-left: 5px;
}

.dropdown-content a:hover {background-color: #F2E0C9;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: #04ADBF;}
.nav-bar-btn:hover {cursor: pointer; color: #04ADBF;}
.nav-bar-btn:focus {outline: none;}

/* HOME CONTENT */
.div-content-background {
  background-color: #00c2cb;
  padding: 10px;
}
.div-itinerary-background {
  
  padding: 10px;
}

.div-content-home-header {
  height: 50px;
  color: black;
  margin-bottom: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size:medium;
}

.div-content-home-header-blog {
  float: right;
  text-decoration: none;
  color: black;
}

.div-content-home-header-blog:hover {
  text-decoration: underline;
}

.div-content-home-background {
  padding: 1px;
  margin-left: 50px;
  margin-right: 50px;
}

.div-content-home-list {
  list-style: none;
  background: none;
  width: 100%;
  background-color: #00c2cb;
  color: #c9e265;
}

.div-content-home-list-content {
  
  margin-bottom: 5px;
  padding: 5px;

}

.div-content-home-list-content-header a {
  text-decoration: none;
  font-weight: bolder;
  color: White;
  font-size: large;
  font-family: 'Noto Sans TC', sans-serif;
}



.div-content-home-list-content-header a:hover {color: #04ADBF;}

/* DESTINATION */

.div-content-image-container {
  width: 80%;
  margin-left: 10%;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.div-content-image-container-left {
  width: 50%;
  height: 600px;
  float: left;
  position: relative;
  border: solid;
  border-radius: 20px;
  text-align: center;
}

.div-content-image-container-left img {
  width: auto;
  padding: 10px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  -ms-: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-content-image-container-right {
  width: 50%;
  height: 600px;
  float: right;
  position: relative;
}

.div-content-image-container-right-upper {
  width: 100%;
  height: 50%;
  border: solid;
  border-radius: 20px;
  text-align: center;
}

.div-content-image-container-right-upper img {
  max-width: 90%;
  height: 50%;
  padding: 10px;
  position: absolute;
  top: 25%;
  bottom: 75%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-content-image-container-right-lower {
  width: 100%;
  height: 50%;
  text-align: center;
}

.div-content-image-container-right-lower-left {
  border: solid;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}

.div-content-image-container-right-lower-right {
  border: solid;
  border-radius: 20px;
  text-align: center;
  height: 100%;
  width: 50%;
  float: right;
  position: relative;
}

.div-content-image-container-right-lower-left img {
  width: 100%;
  padding: 10px;
  float: left;
  position: absolute;
  top: 50%;
  bottom: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-content-image-container-right-lower-right img {
  width: 100%;
  padding: 10px;
  float: right;
  position: absolute;
  top: 50%;
  bottom: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-content-image-container-content {
  width: 33.3%;
  height: 266.6px;
  float: left;
  position: relative;
  border: solid;
  border-radius: 20px;
  text-align: center;
}

.div-content-image-container-content img {
  width: 90%;
  padding: 10px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* LOCATION */

.text{
  font-size: large;
}
.div-content-location {
  position: relative;
  text-align: center;
  color: white;
}

.location-img {
  width: 100%;
  height: 300px;
  object-fit: none;
  object-position: 0px 30%;
}

.div-content-location-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.location-travel-slideshow {
  width: 50%;
  height: 30%;
  margin: 20px auto;
  margin-left: 300px;
}

.location-hotel-map-img {
  max-width: 60%;
}

.location-station-content {
  width: 80%;
  max-height: 300px;
  position: relative;
  margin-bottom: 20px;
}

.location-station-img {
  width: 100%;
  height: 300px;
  object-fit: none;
  object-position: 0px 30%;
}

.location-station-text {
  position: absolute;
  bottom: 8px;
  width: 100%;
  color: white;
}

 /* Style the tab */
.tab {
  
  margin: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  height: 50px;
  min-width: 150px;
  margin-left: 10px;
  font-size: large;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  border: solid;
  border-radius: 30px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:  #c9e265;
  border: solid;
  border-radius: 30px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
} 

/* PROFILE */
.div-profile-content-left {
  margin-top: 60px;
  width: 50%;
  margin-left: -150px;
}

.div-profile-picture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  padding: 10px;
  background-color: white;
  
}

.div-profile-picture img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.div-profile-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 80%;
}

.div-profile-content-right {
  width: 69%;
  float: right;
  margin-right: -250px;
  margin-top: -500px;
}

.div-profile-itinerary {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: -200px;
  margin-top: 20px;
}

.div-profile-blog {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: -200px;
}

.btn-submit {
  margin: 10px auto;
  padding: 5px;
}

.btn-upload {
  padding: 5px;
  width: 100%;
}


/* BLOG */

.div-blog-header {
  padding: 30px;
  text-align: center;
}

.div-blog-left {   
  float: left;
  width: 74%;
}

/* Right column */
.div-blog-right {
  float: right;
  width: 25%;
}

/* Fake image */
.div-blog-img {
  width: 100%;
  height: 500px;
}

.blog-img {
  margin-left: 6px;
  width: 100%;
  height: 100%;
}
/* Add a card effect for articles */
.div-blog-card {
   padding: 20px;
}

/* Clear floats after the columns */
.div-blog-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.div-blog-footer {
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
textarea:focus {
  outline: none;
}
.blog-header-txt {
  resize: none;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.blog-body-txt, .blog-about-txt {
  resize: auto;
  width: 100%;
  padding: 5px;
  height: 100px;
  border-radius: 10px;
}

.blog-desc-txt {
  resize: none;
  height: 90px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* DIY */

.diy-progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px auto;
  max-width: 100%;
  width: 400px;
}

.diy-progress-container::before {
  content: '';
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  transition: 0.4s ease;
}

.diy-progress {
  background-color: #c9e265;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  transition: 0.4s ease;
}

.progress-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  z-index: 1;
  background-color: white;
}

.progress-circle.active {
  border-color: #c9e265;
  background-color:  #c9e265;
  color: white;
}

.progress-btn {
  background-color: #00c2cb;
  color: white;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  padding: 8px 30px;
  margin: 10px 50px;
  font-size: 14px;
}

.progress-btn:focus {
  outline: 0;
}

.progress-btn:active {
  transform: scale(0.97);
}

.progress-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* LOGIN/REGISTRATION FORM */
.modal-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding: 60px;
  text-align: center;
  color: #A0A603;
  font-size: 20px;
  font-family: 'Inconsolata', monospace; color: #747F42;
  font-weight: bold;

}

.modal-content {
  width: 30%;
  margin: 1% 35%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #04BFBF;
  border-radius: 10px;
}

.modal-img-logo img {
  margin-left: auto;
  margin-right: auto;
}

.icon{
  margin-top: -5px;
  font-size: 20px;
}

.modal-img-logo h1 {
  margin-top: -10px;
}

.input-login-register {
  width: 50%;
  padding: 10px 20px;
  margin: 8px 0;
  margin-top: 2px;
  box-sizing: border-box;
  border: 2px solid #747F42;
  border-radius: 10px;
}

.input-login-register:focus {
  background-color: #04BFBF;
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}

.modal-content {
  background-color: #FFFFFF;
  margin: 5px auto;
  width: 400px;
}

.modal-content-header {
  background-color: #025959;
  height: 50px;
  width: 100%;
}

.modal-content-header p {
  color: white;
  position: absolute;
  margin-left: 15px;
}

.modal-content-body {
  text-align: center
}

.modal-content-body .container input {
  width: 300px;
  height: 40px;
  padding: 5px;
  margin: 5px;
}

.submit-login, .submit-register {
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
  background-color: white;
  border: none;
  border-radius: 12px;
  border: 2px solid #747F42;
  color:#747F42;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.submit-login:hover, .submit-register:hover {
  background-image: url(https://i.imgur.com/hi3eFOb.jpg);
  color: white;
}
.submit-login:focus, .submit-register:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}

span a {
  color: blue;
}

span a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* SLIDE SHOW CSS */
* {box-sizing:border-box}

.slideshow-container {
  width: 100%;
  min-width: 1000px;
  height: auto;
  position: relative;
  margin-top: 10px;
}

.mySlides {
  display: none;
}

#first_slide {
  display: block;
}

#img_slide {
  width: 100%;
  height: 600px;
  object-fit: none;
  object-position: 20%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.div-slideshow-dot {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #025959;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FFFFFF;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

